:root {
    --thyme-color: #87a680;
    --whiteClay-color: #f7e9de;
    --poppy-color: #db411c;
    --englishViolet-color: #4f364b;
    --lavender-color: #cabad8;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: "Raleway", sans-serif;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        margin: 0;
        padding: 0;
    }
}

.navBar_wrapper {
    max-width: 64.5625rem;
    margin: 0 auto;
}

/* Botones de compra */

.comprar {
    padding-top: 0.188rem;
    padding-bottom: 0.625rem;
    padding-left: 0px;
    padding-right: .938rem;
    width: 11.625rem;
    height: 3.5rem;
    flex-shrink: 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 2.8rem */
    text-decoration: none;
    position: relative;
}

.comprar.dark {
    color: var(--whiteClay-color);
    background: var(--englishViolet-color);

}

.comprar.light {
    color: var(--englishViolet-color);
    background: var(--whiteClay-color);
}

.comprar.comprar-icono-dark::before {
    content: url(Images/Comprar_Blanco.svg);
    position: absolute;
    top: 55%;
    left: 0.813rem;
    transform: translateY(-50%);
}

.comprar.comprar-icono-dark {
    padding-left: 50px;
}

.comprar.comprar-icono-light::before {
    content: url(Images/Comprar_Morado.svg);
    position: absolute;
    top: 55%;
    left: 0.813rem;
    transform: translateY(-50%);
}

.comprar.comprar-icono-light {
    padding-left: 50px;
}

/* Header */

header {
    background: var(--thyme-color);
    height: 8.125rem;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.1rem;
    padding-top: 4.25rem;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
}

.nav-left, .nav-right {
    display: flex;
    gap: 4.5rem;
    align-items: center;

}

.nav-left {
    margin-top: -0.75rem; /* Mueve el grupo izquierdo hacia la derecha */
}

.nav-right {
    margin-top: -0.75rem; /* Mueve el grupo derecho hacia la izquierda */
}

nav ul li a {
    color: var(--English-Violet, #53354C);
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;

}

/* Hero section */
.Hero1_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--thyme-color);
    width: 100%;
    height: 25.625rem;
}

.hero1 .center h1 {
    text-align: center;
    color: var(--whiteClay-color);
    font-family: Raleway, sans-serif;
    font-size: 10.5rem;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.Hero2_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--whiteClay-color);
    width: 100%;
    height: 9.375rem;
}

.hero2 .center h2 {
    text-align: center;
    color: var(--poppy-color);
    font-family: Raleway, sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Conócenos section */

.conocenos_wrapper {
    position: relative;
    width: 100%;
    height: 91.5rem;
}

.conocenos {
    position: relative;
    background-image: url('Images/Imagen_Conocenos.jpg');
    background-size: cover;
    background-position: -15rem center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%;
}

/* Estilo para la palabra "conócenos" rotada */
.seccion-rotado h6 {
    position: absolute;
    color: var(--whiteClay-color); /* Aplica el color deseado */
    transform: rotate(-90deg) translateY(-50%);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    /*Estos cálculos mueven el texto dentro de la sección */
    top: calc(0% + 3.71rem);
    left: calc(0% - 1.75rem);
}

/*Estilo para el texto de la sección */
.right h3 {
    position: absolute;
    color: var(--whiteClay-color);
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    top: 28.19rem;
    right: 2.12rem;
}

/* Newsletter section */

.newsletter_wrapper {
    position: relative;
    width: 100%;
    height: 54.0625rem;
}

.newsletter {
    position: relative;
    background-image: url('Images/Fondo_Newsletter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%;
}
